/* Change this breakpoint if you change the breakpoint of the navbar */
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/* Nav */

nav {
  background: linear-gradient(to right, var(--color-silver), var(--color-smoke));
  border-bottom: 1px solid var(--color-smoke);
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.1));
}

.navbar-brand-text {
  color: var(--color-slate);
  font-size: 1.5rem;
  margin-left: 2rem;
}


.navbar-brand-scidas-main {
  color: var(--color-slate);
  font-size: 1.75rem;
  margin-left: 0;
  padding: 0px	0px 0px 10px;
}


.navbar-light .navbar-nav .nav-link {
  color: var(--color-slate);
}

/* Dropdown Items */
/* Vertically center icons beside menu item text*/
.dropdown-item > i {
   vertical-align: middle;
   margin-right: 0.5rem;
}
