Django==4.2
django-allauth==0.61.1
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-extensions==3.2.3
grafana-django-saml2-auth==3.12.0
djangorestframework==3.14.0
drf-spectacular==0.27.1
flake8==3.9.0
gunicorn==20.1.0
mock==4.0.2
pysaml2==7.4.2
python3-openid==3.2.0
requests==2.31.0
requests-oauthlib==1.4.0
selenium==3.141.0
tycho-api>=1.17
webdriver-manager==3.2.1
sqlparse==0.4.4
asgiref==3.7.2
psycopg[binary]
python-irodsclient==1.1.5
