Django==4.2
django-allauth==0.61.1
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-extensions==3.2.3
grafana-django-saml2-auth==3.12.0
djangorestframework==3.15.1
drf-spectacular==0.27.1
flake8==3.9.0
gunicorn==20.1.0
mock==4.0.2
pysaml2==7.4.2
python3-openid==3.2.0
requests==2.31.0
requests-oauthlib==1.4.0
selenium==3.141.0
webdriver-manager==3.2.1
sqlparse==0.4.4
asgiref==3.7.2
psycopg2-binary
python-irodsclient==1.1.5
deepmerge==1.0.1
flasgger==0.9.5
Flask==2.0.3
flask_cors==3.0.10
flask_restful==0.3.9
GitPython==3.1.11
Jinja2==3.0.3
jsonschema==3.2.0
kubernetes==25.3.0
netifaces==0.11.0
PyYAML==5.4.1
requests==2.31.0
docker-compose==1.29.2
requests_cache==0.9.2
