{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="main-container">
            
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>CommonsShare Apps</h1>
        <p>
          CommonsShare apps hosted on this portal allow you to visualize, analyze, and work with
            data in CommonsShare. </p>
      </div>	
    </div>
  </div>
  <hr/>
    <hr>
    <div class="container manage-constainer">
      <div class="row">
          <input class="btn btn-success" id="manage" onclick="goManage()" type="button" value="Manage Pods">
      </div>
  </div>
    <hr/>
  <div class="container apps-container">
    <div class="row">
        {% for app in apps_list %}
        <div class="webapp col-lg-3 col-md-4 col-sm-12">
          <div class="webapp-listing">
              <a class="webapp-link" href="{{ app.url }}" target="_blank" title="{{ app.verbose_name }}">
                    <img src="{% static app.logo %}" alt="" width="205" height="205">
              <h3>
                {{ app.verbose_name }}
              </h3>
              </a>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>

<script>
    function goManage() {
        host = window.location.origin
        url = host + "/list_pods/"
        window.location.href = url
    }
</script>


{% endblock %}
