<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/nav.css">
  <link rel="stylesheet" href="/static/css/modal.css">
  <link rel="stylesheet" href="/static/css/table.css">
  <title>App Store</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      {% if brand == "scidas" %}
        <a class="navbar-brand-scidas">
          <img src="{{ logo_url }}" width="120px" height="auto" alt="{{ logo_alt }}">
            <span class="navbar-brand navbar-brand-scidas-main">App Store</span>
        </a>
      {% else %}
        <a class="navbar-brand" href="#">
          <img src="{{ logo_url }}" width="320px" alt="{{ logo_alt }}">
            <span class="navbar-brand-text">App Store</span>
        </a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
            <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
            <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#createPodModal"><i class="material-icons">add</i>New Application</a>
              <a class="dropdown-item" href="#current-pods"><i class="material-icons">storage</i>Current Applications</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/signout_view"><i class="material-icons">exit_to_app</i>Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1>Application Manager</h1>
          <p>
          Applications hosted on this portal allow you to visualize, analyze, and work with data.
          </p>

          <!-- Trigger create-new-pod modal -->
          <div class="modal-trigger-container">
            <button type="button" id="create-new-pod-modal" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createPodModal">
              <i class="material-icons">add</i>Create New Application
            </button>
          </div>

          <p>
            <!--
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum repellendus doloribus facere placeat! Minima, expedita? Officia odio facere mollitia natus
            sed reiciendis delectus est sapiente similique nihil voluptatem nulla dolores non at sit repudiandae atque, ab placeat, labore voluptatum ipsa ut ex. Incidunt,
            delectus, dolore.
            -->
          </p>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="createPodModal" tabindex="-1" role="dialog" aria-labelledby="createPodModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="createPodModalLabel">Launch New Application</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div class="list-group create-pod-list">
                <a href="#" class="create-pod-list-item list-group-item list-group-item-action" data-url="/cloudtop_imagej/login_start/">
                  <img class="create-pod-list-item__image" src="/static/images/imagej-logo.png" alt="Imagej Logo">
                  <div class="create-pod-list-item__details">
                    <div class="create-pod-list-item__title">Imagej</div>
                    <div class="create-pod-list-item__description">
                      ImageJ/Napari: Imagej is an image processor developed at NIH/LOCI.
                    </div>
                    <small class="text-muted">Napari enables multi-dimensional image viewing, annotation and analysis.</small>
                  </div>
                </a>
                <a href="#" class="create-pod-list-item list-group-item list-group-item-action" data-url="/tycho_jupyter/login_start/">
                  <img class="create-pod-list-item__image" src="/static/images/jupyter-logo.png" alt="Jupyter Logo">
                  <div class="create-pod-list-item__details">
                    <div class="create-pod-list-item__title">Jupyter</div>
                    <div class="create-pod-list-item__description">
                      Jupyter DataScience: A Jupyter notebook for exploring and visualizing data.
                    </div>
                    <small>Includes R, Julia, and Python.</small>
                  </div>
                </a>
                <a href="#" class="create-pod-list-item list-group-item list-group-item-action">
                  <img class="create-pod-list-item__image" src="/static/images/monarch-initiative-logo.png" alt="Monarch-Initiative Logo" data-url="https://monarchinitiative.org/analyze/phenotypes">
                  <div class="create-pod-list-item__details">
                    <div class="create-pod-list-item__title">Monarch Initiative</div>
                    <div class="create-pod-list-item__description">
                      Monarch Initiative: Ontology based search tools over a large aggregate biomedical graph.
                    </div>
                    <small class="text-muted">This application links to an external website.</small>
                  </div>
                </a>
                <a href="#" class="create-pod-list-item list-group-item list-group-item-action" data-url="/tycho_nextflow/login_start/">
                  <img class="create-pod-list-item__image" src="/static/images/nextflow-logo.png" alt="Nextflow Logo">
                  <div class="create-pod-list-item__details">
                    <div class="create-pod-list-item__title">NextFlow</div>
                    <div class="create-pod-list-item__description">
                      Nextflow: A scalable workflow computational pipeline workspace.
                    </div>
                    <small class="text-muted">Orchestrate Docker containers into reproducible workflows.</small>
                  </div>
                </a>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button onclick="launchApp()" id="create-pod" type="button" class="btn btn-primary" disabled data-dismiss="modal"><i class="material-icons">launch</i>Create Application</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- listen for clicks on pod creation links within modal -->
    <script>
      const createPodButton = document.querySelector('#create-pod')
      const createPodLinks = document.querySelectorAll('.create-pod-list a')

      const anyActivePodLinksActive = () => {
        createPodButton.disabled = true
        for (let i = 0; i < createPodLinks.length; i++) {
          if (createPodLinks[i].classList.contains('active')) {
            return true
          }
        }
      }

      createPodLinks.forEach(link => {
        link.addEventListener('click', function(event) {
          createPodLinks.forEach(a => a.classList.remove('active'))
          link.classList.add('active')
          createPodButton.disabled = !anyActivePodLinksActive()
        })
      })

      function launchApp() {
        const activePodSelection = document.querySelector('.create-pod-list-item.active')
        if ( activePodSelection != null ) {
          const url = activePodSelection.getAttribute('data-url');
          console.log("APPLICATION URL TO REQUEST: " + url)
          window.open(url)

          // Update app display with the new app:
          console.log("Setting timer to refresh app display . . .")
          setTimeout(refreshAppDisplay, 22000)
        }
      }

      function refreshAppDisplay() {
        window.location.reload(true)
        console.log("App display refreshed!")
      }

    </script>

    <!-- Application Display -->
    <div class="container-fluid">
      <div class="row">
        <h2 id="current-pods">Current Applications</h2>
      </div>
      <div class="row">
        <table class="manage-pods-table table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
              <th scope="col">Created</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for s in svcs_list %}
            <tr>
              <th>
                <img class="pod-type-logo" src="{{ s.logo_path }}" alt="{{ s.logo_name }}">
                {{ s.full_name }}
              </th>
                <td>{{ s.ip_address }} <br> Port: {{ s.port }} </td>
                <td>{{ s.creation_time }}</td>
                <td><button onclick="deleteApp(this)" id="{{s.identifier}}" class="btn btn-danger" data-id="{{ s.identifier }}"><i class="material-icons">delete</i></button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <script>
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
             var cookies = document.cookie.split(';');
             for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  // Check if its the csrf cookie
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }

      function deleteApp(btn) {
        btn.disabled = true
        var sid = btn.getAttribute('data-id');
        console.log("APPLICATION SID TO DELETE: " + sid);
        var params = "id=" + sid + "&action=delete";
        console.log("REQUEST PARAMS: " + params);

        const url = "/list_pods/";
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var csrfToken = getCookie('csrftoken');
        xhr.setRequestHeader("X-CSRFToken", csrfToken);
        xhr.send(params);

        // Update the pods display:
        console.log("Setting timer to refresh app display . . .")
        setTimeout(refreshAppDisplay, 4000)
      }
    </script>


    <!--
    <div class="container-fluid">
      <div class="row">
        <h2 id="current-pods">Additional Information</h2>
      </div>
      <div class="row">
        <p>
          Lorem ipsum.
        </p>
        <p>
          Lorem ipsum.
        </p>
      </div>
    </div>
    -->

  </main>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
