Django==2.1.15
Jinja2==2.11.2 
PrettyTable==2.0.0 
PyYAML==5.1.2 
adal==1.2.2 
bcrypt==3.1.4 
cachetools==3.1.1 
certifi==2018.10.15 
colorama==0.4.4 
configparser==5.0.1 
crayons==0.4.0 
cryptography==2.8 
defusedxml==0.6.0 
django-allauth==0.42.0 
django-bootstrap-form==3.4 
django-extensions==2.1.3 
django-rest-auth==0.9.5 
django-rest-framework==0.1.0 
django-saml2-auth==2.2.1 
djangorestframework==3.9.1 
djangorestframework-jwt==1.11.0 
djangorestframework-simplejwt==4.3.0 
djangosaml2==0.18.1 
gitpython==3.1.2 
google-api-python-client==1.7.11 
google-auth==1.7.1 
google-auth-httplib2==0.0.3 
httplib2==0.18.0 
mock==4.0.2 
oauthlib==3.1.0 
psycopg2-binary==2.8.5 
pyOpenSSL==19.1.0 
pyasn1==0.4.8 
pyasn1-modules==0.2.7 
pysaml2==6.3.1 
python-dateutil==2.8.1 
python-irodsclient==0.8.2 
python3-openid==3.1.0 
pytz==2018.7 
requests-oauthlib==1.3.0 
selenium==3.141.0 
six==1.11.0 
uritemplate==3.0.0 
urllib3==1.24.2 
wcwidth==0.2.5 
webdriver-manager==3.2.1 
websocket-client==0.56.0 
xmlrunner==1.7.7
tycho-api==1.0.2
