Django==3.1.7
Jinja2==2.11.2 
PrettyTable==2.0.0 
PyYAML==5.1.2 
adal==1.2.2 
bcrypt==3.2.0 
cachetools==3.1.1 
certifi==2018.11.29 
colorama==0.4.4 
configparser==5.0.1 
crayons==0.4.0 
cryptography==3.2 
defusedxml==0.6.0 
django-allauth==0.44.0 
django-bootstrap-form==3.4 
django-extensions==3.1.1 
django-saml2-auth==2.2.1 
djangorestframework==3.12.2
gitpython==3.1.11
google-api-python-client==1.7.11 
google-auth==1.25.0 
google-auth-httplib2==0.0.3 
httplib2==0.18.0 
mock==4.0.2 
oauthlib==3.1.0 
psycopg2-binary==2.8.5 
pyOpenSSL==19.1.0 
pyasn1==0.4.8 
pyasn1-modules==0.2.7 
pysaml2==6.3.1 
python-dateutil==2.8.1 
python-irodsclient==0.8.2 
python3-openid==3.1.0 
pytz==2021.1 
requests-oauthlib==1.3.0 
selenium==3.141.0 
six==1.12.0 
tycho-api==1.0.13
uritemplate==3.0.0 
urllib3==1.24.2 
wcwidth==0.2.5 
webdriver-manager==3.2.1 
websocket-client==0.56.0 
xmlrunner==1.7.7
