{% extends "base.html" %}
{% block content %}
<div>
    <strong>iRODS Login</strong>

    <form method="post" action="{% url 'irods_login' %}">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-xs-3">
                <label for="irods_email">Email :-</label>
                <input id="irods_email" type="email" class="form-control" name="irods_email"/>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

</div>
<div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Please check your email for password</h5>
                <button id = 'redirect' type="button" class="btn btn-primary">Go to braini-rods</button>
            </div>
        </div>
    </div>
</div>
{% if successful_submit %}
<script type="text/javascript">
        $("#exampleModal").modal('show');
        $("#redirect").click(function(event){
         event.preventDefault();
         window.open("https://braini-rods.renci.org")
        })
</script>
{% endif %}
{% endblock %}

