<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/modal.css">
    <link rel="stylesheet" href="/static/css/table.css">
    <title></title>
    <!--
    <title>App Store</title>
    -->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid" height="100px">
        <!-- TODO - FIX -->

        {% if brand == "scidas" %}
        <a class="navbar-brand-scidas">
            <img src="{{ logo_url }}" width="120px" height="auto" alt="{{ logo_alt }}">
        </a>
        {% elif brand == "restartr" %}
        <a class="navbar-brand-restartr">
            <img src="{{ logo_url }}" width="170px" height="auto" alt="{{ logo_alt }}">
        </a>
        {% else %}
        <a class="navbar-brand" href="#">
            <img src="{{ logo_url }}" width="200px" alt="{{ logo_alt }}">
        </a>
        {% endif %}
        <a class="navbar-brand" href="/"><img class="pt-5 pb-0" width="180px" src="/static/images/App-Store-Logo-new.png" alt="AppStore"></a>
        <!--
             {% if brand == "scidas" %}
             <a class="navbar-brand-scidas">
               <img src="{{ logo_url }}" width="120px" height="81px" alt="{{ logo_alt }}">
               <span class="navbar-brand navbar-brand-scidas-main">App Store</span>
             </a>
             {% else %}
             <a class="navbar-brand" href="#">
               <img src="{{ logo_url }}" width="185px" height="35px" alt="{{ logo_alt }}">
               <img src="/static/images/helx.png" width="80px" height="90px" alt="HeLx">
             </a>
             {% endif %}
        -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
                    <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#createPodModal"><i
                                class="material-icons">add</i>New Application</a>
                        <a class="dropdown-item" href="#current-pods"><i class="material-icons">storage</i>Current
                            Applications</a>
                        {% if APPLICATION_BRAND == "braini" %}
                        <a class="dropdown-item" href="{% url 'irods_login' %}"><i class="material-icons">login</i>Irod
                            Login</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url  'sign-out'%}">
                            <i class="material-icons">exit_to_app</i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <!--
                         <h1>Application Manager</h1>
               -->
                <!-- Trigger create-new-pod modal -->
                <div class="modal-trigger-container">
                    <button type="button" id="create-new-pod-modal" class="btn btn-primary btn-lg" data-toggle="modal"
                            data-target="#createPodModal">
                        <i class="material-icons">add</i>New Application
                    </button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="createPodModal" tabindex="-1" role="dialog" aria-labelledby="createPodModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createPodModalLabel">Launch New Application</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="list-group create-pod-list">
                            {% for application in applications %}
                            <a href="#" class="create-pod-list-item list-group-item list-group-item-action"
                               data-url="/start/"
                               app_id="{{ application.app_id }}">
                                <img class="create-pod-list-item__image" src="{{ application.icon }}"
                                     alt="{{ application.name }}">
                                <div class="create-pod-list-item__details">
                                    <div class="create-pod-list-item__title">{{ application.name }}</div>
                                    <div class="create-pod-list-item__description">{{ application.description }}</div>
                                    <small>{{ application.details }}
                                    </small>
                                </div>
                            </a>
                            <!-- per app documentation would be nice - just need a styled place to put it.
                            <center>
                              <a href={{ application.docs }} target='docs'>{{ application.name }} documentation.</a>
                            </center>
                            -->
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button data-target="#myModal" id="create-pod" class="btn btn-primary" data-toggle="modal"
                                disabled

                        ><i class="material-icons">launch</i>Create Application
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"> Workspace Resources </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h5>Please specify the units to be reserved for workspace below. </h5>
                    <div class="container">
                        <div class="form-inline">
                            <label class="mr-sm-2" for="cpu">CPU</label>
                            <input type="number" class="form-control mb-2 mr-sm-2" value="0.5" placeholder="0.5" id="cpu">
                        </div>
                        <h7> Units: 1 = 1 CPU (ex 1, .25, .5) </h7>
                        <div class="form-inline">
                            <label class="mr-sm-2" for="gpu">GPU</label>
                            <input type="number" class="form-control mb-2 mr-sm-2" value="0" placeholder="0" id="gpu">
                        </div>
                        <h7> Units: 1 = 1 GPU (Whole numbers only) </h7>
                        <div class="form-inline">
                            <label class="mr-sm-2" for="memory">Memory</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" value="2G" placeholder="2G" id="memory">
                        </div>
                        <h7> Units: 1G = 1 Gigabyte (ex .25G, .5G, 1G) </h7>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="launchApp()" class="btn btn-primary" data-dismiss="modal">
                        Apply
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- listen for clicks on pod creation links within modal -->
    <script>
      const createPodButton = document.querySelector('#create-pod')
      const createPodLinks = document.querySelectorAll('.create-pod-list a')
      const anyActivePodLinksActive = () => {
        createPodButton.disabled = true
        for (let i = 0; i < createPodLinks.length; i++) {
          if (createPodLinks[i].classList.contains('active')) {
            return true
          }
        }
      }
      createPodLinks.forEach(link => {
        link.addEventListener('click', function(event) {
          createPodLinks.forEach(a => a.classList.remove('active'))
          link.classList.add('active')
          createPodButton.disabled = !anyActivePodLinksActive()
        })
      })
      function launchApp() {
        const activePodSelection = document.querySelector('.create-pod-list-item.active')
        if ( activePodSelection != null ) {
            const urla = activePodSelection.getAttribute('data-url');
       const app_id = activePodSelection.getAttribute('app_id');
       var cpu = document.getElementById("cpu").value
       var gpu = document.getElementById("gpu").value
       var memory = document.getElementById("memory").value
       var url = urla + "?app_id=" + app_id +"&cpu="+cpu +"&memory="+memory +"&gpu="+gpu
       console.log("APPLICATION URL TO REQUEST: " + url)
      window.open(url)

      // Update app display with the new app:
      console.log("Setting timer to refresh app display . . .")
      setTimeout(refreshAppDisplay, 22000)
        }
      }
      function refreshAppDisplay() {
      console.log("reloading", window.location)
        window.location.reload(true)
        console.log("App display refreshed!")
      }



    </script>
    <!-- Application Display -->
    <div class="container-fluid">
        <!-- -->
        <div class="row">
            <h2 id="current-pods">Running Applications</h2>
        </div>

        <div class="row">
            <table class="manage-pods-table table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Connect</th>
                    <th scope="col">Documentation</th>
                    <th scope="col">Created</th>
                    <th scope="col">CPU</th>
                    <th scope="col">Memory</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for s in svcs_list %}
                <tr>
                    <th>
                        <img class="pod-type-logo" src="{{ s.logo_path }}" alt="{{ s.logo_name }}">
                    </th>
                    <td>
                        <a href="/connect?url={{ s.name }}&name={{ s.display_name }}&icon={{ s.logo_path }}"
                           target="_blank">{{ s.app_id }}</a>
                    </td>
                    <td><a href="{{ s.docs }}" target="_blank">documentation</a></td>
                    <td>{{ s.creation_time }}</td>
                    <td>{{ s.cpu }}m</td>
                    <td>{{ s.memory }}G</td>
                    <td>
                        <button onclick="deleteApp(this)" id="{{s.identifier}}" class="btn btn-danger"
                                data-id="{{ s.identifier }}"><i class="material-icons">delete</i></button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
             var cookies = document.cookie.split(';');
             for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  // Check if its the csrf cookie
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }

      function deleteApp(btn) {
        btn.disabled = true
        var sid = btn.getAttribute('data-id');
        console.log("APPLICATION SID TO DELETE: " + sid);
        var params = "id=" + sid + "&action=delete";
        console.log("REQUEST PARAMS: " + params);
        const url = "/list_pods/";
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var csrfToken = getCookie('csrftoken');
        xhr.setRequestHeader("X-CSRFToken", csrfToken);
        xhr.send(params);

        // Update the pods display:
        console.log("Setting timer to refresh app display . . .")
        setTimeout(refreshAppDisplay, 4000)
      }






    </script>


    <!--
    <div class="container-fluid">
      <div class="row">
        <h2 id="current-pods">Additional Information</h2>
      </div>
      <div class="row">
        <p>
          Lorem ipsum.
        </p>
        <p>
          Lorem ipsum.
        </p>
      </div>
    </div>
    -->

</main>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
