{% extends "base.html" %}
 
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Whitelisting Required" %}{% endblock %}


{% block content %}

<h1>{% trans "Whitelisting Required" %}</h1>

<p>{% blocktrans with site.name as site_name %} To gain access to the {{ full_brand }} Appstore, please contact the website 
<a href="mailto:{{ brand }}-admin@lists.renci.org">administrator</a> so you can be added to the whitelist. 

<p>
This security feature is only required one time, for your initial access.
<p>
Thank you.
{% endblocktrans %}</p>
<p><p>
Return to <a href="/accounts/login/">Login</a> page.

{% endblock %}
